examples/scratch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ext="http://www.xsd.com/extensions">

  <xs:complexType name="SomeChoice">
    <xs:choice>
    <xs:element name="foo" type="xs:decimal" />
    <xs:element name="bar" type="xs:string" />
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="Color">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RED" ext:id="0" />
      <xs:enumeration value="GREEN" ext:id="1"/>
      <xs:enumeration value="BLUE" ext:id="2" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>